{% extends 'base.html' %}
{% load static %}


{% block title %} Dashboard {% endblock %}
{% block start %}
    

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
          <img src="">
        </div>
        <div class="sidebar-brand-text mx-4">Inductus</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Trip Plan</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'advancetravelplan' %}" data-target="">Advanced Trip Plan</a>
            <a class="collapse-item" href="{% url 'actualTripplan' %}">Actual Trip Plan</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
    </ul>
    <!-- Sidebar -->


    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link " href="{% url 'profile' %}"  role="button" 
                  >
                  <img class="img-profile rounded-circle" src="{{employee.profile_pic.url}}" style="max-width: 60px">
                  <span class="ml-2 d-none d-lg-inline text-white small">{{employee.full_name}}</span>
                </a>
              </li>
              <button class="btn btn-primary" style="margin: auto auto;">
                <a href="{% url 'logout' %}" style="text-decoration: none; color: white;">Logout</a>
              </button>
            
          </ul>
        </nav>
       
        


        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">

            <div class="col-xl-12 col-lg-7 mb-4">
              {% if messages %}
        
              {% for message in messages %}
             
              {% if message.tags == "success" %}
      
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              {% endfor %}
      
              {% endif %}
              <button type="submit" class="btn btn-success" data-toggle="modal"
              data-target="#exampleModal">Upload Advance Travel Plan</button> 
              <div class="card">
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Advance Travel Plans</h6>
                  
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Date Added</th>
                        <th>Status</th>
                        <th>Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for plans in trip_plans %}

                      <tr>
                        <td>{{plans.month}}</td>
                        <td>{{plans.year}}</td>
                        <td>{{plans.date_added}}</td>
                        <td><span class="badge badge-success">Submitted</span></td>
                        <td><a href="{{plans.trip_plan.url}}" class="btn btn-sm btn-primary">Download</a></td>
                      </tr>

                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
           
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Upload Advance Travel Plan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                  <form method="post" action="{% url 'advancetravelplan' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputState">Select Month</label>
                        <select id="inputState" class="form-control" name="month">
                          <option value="January" selected>January</option>
                          <option value="February">February</option>
                          <option value="March">March</option>
                          <option value="April">April</option>
                          <option value="May">May</option>
                          <option value="June">June</option>
                          <option value="August">August</option>
                          <option value="September">September</option>
                          <option value="October">October</option>
                          <option value="November">November</option>
                          <option value="December">December</option>

                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label>Year</label>
                        <input type="text" class="form-control" id="" name="year" placeholder="eg. 2023">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <label for="exampleFormControlFile1">Upload Travel Plan</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="trip_plan" afccept=".pdf,.doc"/ required>
                        <small  class="text-muted">
                         Please upload file in .pdf 
                        </small>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add Travel Plan</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        

        </div>
    
      </div>
     
    </div>
  </div>

 


       
{% endblock %}